.comment-title {
	color: #55C65E ;
	text-align: center;
}

.addcomment-submitButton {
	background-color: #55C65E;
	/* box-shadow: 2px 3px 3px #f7a8a8; */
	border: 1px solid #55C65E;
	padding: 5px 14px;
	color: #fff;
	border-radius: 20px;
}

.addcomment-submitButton:hover {
	background-color: #fff;
	box-shadow: 4px 5px 3px #f7a8a8;
	color: #55C65E;
	border: 1px solid #55C65E;
}
.addcomment-submitButton:focus {
	outline: none;
}

.addcomment-input {
	border-color: #55C65E;
	border-radius: 20px;
	padding: 14px;
}

.addcomment-label {
	color: #55C65E ;
}